!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "dns-prefetch", :href => "https://d33wubrfki0l68.cloudfront.net"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => canonical_url(current_page), :rel => "canonical"}
    %title= title
    = stylesheet_link_tag "application"
    = partial "analytics"
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

  %body
    = partial "header"
    .layout-wrapper
      %a.jump{href: "#navigation"}
        %i.fa.fa-book
        Docs navigation
      .layout-main#main
        .inner= yield
      .layout-side#navigation
        = partial "side_nav"
      .layout-footer
        = partial "footer"
      = partial "cookies"

    = javascript_include_tag "application", :async => :async
