!!! 5

%html{:lang => 'en', :class => "no-js"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title
      - if current_page.data.title
        = current_page.data.title.gsub(/<[^>]*>/, '')
        - unless current_page.data.title_no_brand
          | AppSignal
      - else
        AppSignal: Monitor the crap out of your app.

    = javascript_include_tag 'application'

    = stylesheet_link_tag 'application'
    /[if lt IE 9]
      = stylesheet_link_tag 'ie-lt-9'
      = javascript_include_tag 'html5shiv'

    - if build?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35502258-1']);
        _gaq.push(['_setDomainName', 'appsignal.com']);
        _gaq.push(['_trackPageview']);
        setTimeout("_gaq.push(['_trackEvent', '60_seconds', 'read'])", 60000);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      :javascript
        (function(o){var b="https://api.autopilothq.com/anywhere/",t="e9823d9f8ee6458495be3761e62926553c9a176e3f544f5eb1daa04581e1a216",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};if(!o.noaa){z(b+"aa/"+t+'?'+p,false)};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({"app":true});

  %body
    %header.mod-header
      %h1
        = link_to '/' do
          = image_tag "logo-mark-white.svg"
          AppSignal&nbsp;
          %span Docs
      = link_to 'Visit AppSignal.com', 'https://appsignal.com'

    .layout-wrap
      %a.jump{href: "#navigation"} Jump to navigation
      .layout-main#main
        = yield
        = partial 'footer'
      .layout-side#navigation
        = partial 'side_nav'

    - if build?
      %img{:src => "https://appsignal.com/ident.gif?page=#{URI.encode("docs: #{current_page.path}")}", :style => "display: block; border: 0; height: 0; width: 0"}

  <script src="https://use.typekit.net/sdq1pbx.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
