!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "dns-prefetch", :href => "https://d33wubrfki0l68.cloudfront.net"}
    %link{:rel => "dns-prefetch", :href => "https://cdn.jsdelivr.net"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => canonical_url(current_page.url), :rel => "canonical"}
    %title= title
    = stylesheet_link_tag "application"
    %link{:rel => "mask-icon", :href => "/images/appsignal-safari-icon.svg", :color => "#21375A" }
    %meta{:content => description_of_page(current_page), :name => "description"}

    %meta{:content => title, :property => "og:title"}
    %meta{:content => site_name, :property => "og:site_name"}
    %meta{:content => "en_US", :property => "og:locale"}
    %meta{:content => canonical_url(current_page.url), :property => "og:url"}
    %meta{:content => description_of_page(current_page), :property => "og:description"}
    %meta{:content => canonical_url("/images/logo-color.png"), :property => "og:image"}

    %meta{:content => "@appsignal", :name => "twitter:site"}
    %meta{:content => "summary", :name => "twitter:card"}
    %meta{:content => canonical_url("/images/logo-color.png"), :name => "twitter:image"}
    %meta{:content => "AppSignal logo icon", :name => "twitter:image:alt"}

    %link{:rel => "stylesheet", :href => "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"}
    = partial "analytics"

  %body
    = partial "header"
    .layout-wrapper
      %a.jump{href: "#navigation"}
        %i.fa.fa-book
        Documentation navigation

      = partial "docsearch"
      .layout-main#main
        .inner= yield
      .layout-side#navigation
        = partial "side_nav"
      .layout-footer
        = partial "footer"
      = partial "cookies"

    = javascript_include_tag "application", :async => :async
    %script{:type => "text/javascript", :src => "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"}
    :javascript
      docsearch({
        apiKey: 'e364f905db3f6b6dd982bbc0e22a6891',
        indexName: 'appsignal',
        inputSelector: '#search',
        debug: false // Set debug to true if you want to inspect the dropdown
      });
