%header.mod-header
  .layout-wrap.full
    %h1
      = link_to "/", :title => "return to the homepage of AppSignal" do
        = image_tag "dl_logo/appsignal-logo.svg", :alt => "Logo of AppSignal"

    .toggle.button.outline-dark.small
      Menu
      %i.fa.fa-fw.fa-navicon

    %input#search
    %nav.main
      %ul
        %li
          = link_to "Home", "https://appsignal.com"
        %li.tour-toggle
          = link_to "#subnav" do
            Tour
            %i.fa.fa-angle-down
          %ul.subnav-large
            - data.tours.tours.each do |tour|
              %li.tour{class: tour["name"]}
                = link_to "https://appsignal.com/tour/#{tour["slug"]}" do
                  %figure= image_tag "dl_icons/#{tour["name"]}.svg"
                  %strong= tour["title"]
                  %p= tour["human_teaser"]
            %li.elixir
              %span Check out&nbsp;
              #{link_to "AppSignal for Elixir", "https://appsignal.com/elixir/"}

        %li
          = link_to "Docs", "http://docs.appsignal.com", :class => "active"
        %li
          = link_to "Blog", "http://blog.appsignal.com"
        %li
          = link_to "Pricing", "https://appsignal.com/plans/"

    %nav.cta
      %ul
        %li.logged-in= link_to "Go to app", "https://appsignal.com/accounts", :class => "button outline-dark small"
        %li.logged-out= link_to "Log in", "http://appsignal.com/users/sign_in", :class => "button outline-dark small"
        %li.logged-out= link_to "Sign up", "http://appsignal.com/users/sign_up", :class => "button small"
