%nav.mod-side_nav
  %ul
    %li.section
      %h2{:data => { :menu => "getting-started" } }
        Getting started
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Your first application', '/getting-started/new-application.html'
        %li= link_with_active 'Your user account', '/getting-started/user-account.html'

    %li.section
      %h2{:data => { :menu => "application" } }
        Your applications
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Settings', '/application/settings.html'
        %li
          = link_with_active 'Integrations (full list)', '/application/integrations/index.html'
          %ul
            %li= link_with_active 'Intercom', '/application/integrations/intercom.html'
            %li= link_with_active 'JIRA', '/application/integrations/jira.html'
            %li= link_with_active 'PagerDuty', '/application/integrations/pagerduty.html'
            %li= link_with_active 'Webhooks', '/application/integrations/webhooks.html'

    %li.section
      %h2{:data => { :menu => "organization" } }
        Your organizations
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Overview', '/organization/index.html'
        %li
          = link_with_active 'Team management', '/organization/team/index.html'
          %ul
            %li= link_with_active 'Manage members', '/organization/team/members.html'
            %li= link_with_active 'Manage owners', '/organization/team/owners.html'
            %li= link_with_active 'Manage teams', '/organization/team/teams.html'
        %li= link_with_active 'Billing', '/organization/billing.html'

    %li.section
      %h2{:data => { :menu => "ruby" } }
        AppSignal for Ruby
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Overview', '/ruby/index.html'
        %li= link_with_active 'Installation', '/ruby/installation.html'
        %li
          = link_with_active 'Configuration', '/ruby/configuration/index.html'
          %ul
            %li= link_with_active 'Options', '/ruby/configuration/options.html'
            %li= link_with_active 'Load order', '/ruby/configuration/load-order.html'
            %li= link_with_active 'Ignore actions', '/ruby/configuration/ignore-actions.html'
            %li= link_with_active 'Ignore errors', '/ruby/configuration/ignore-errors.html'
            %li= link_with_active 'Parameter filtering', '/ruby/configuration/parameter-filtering.html'

        %li
          = link_with_active 'Integrations', '/ruby/integrations/index.html'
          %ul
            %li= link_with_active 'Capistrano', '/ruby/integrations/capistrano.html'
            %li= link_with_active 'DataMapper', '/ruby/integrations/datamapper.html'
            %li= link_with_active 'Delayed Job', '/ruby/integrations/delayed-job.html'
            %li= link_with_active 'Grape', '/ruby/integrations/grape.html'
            %li= link_with_active 'Padrino', '/ruby/integrations/padrino.html'
            %li= link_with_active 'MongoDB', '/ruby/integrations/mongodb.html'
            %li= link_with_active 'Resque', '/ruby/integrations/resque.html'
            %li= link_with_active 'Rake', '/ruby/integrations/rake.html'
            %li= link_with_active 'Ruby on Rails', '/ruby/integrations/rails.html'
            %li= link_with_active 'Sequel', '/ruby/integrations/sequel.html'
            %li= link_with_active 'Shoryuken', '/ruby/integrations/shoryuken.html'
            %li= link_with_active 'Sidekiq', '/ruby/integrations/sidekiq.html'
            %li= link_with_active 'Sinatra', '/ruby/integrations/sinatra.html'
            %li= link_with_active 'Webmachine', '/ruby/integrations/webmachine.html'
            %li= link_with_active 'Integration gems <sup>Deprecated</sup>', '/ruby/integrations/appsignal-gems.html'

        %li
          = link_with_active 'Custom instrumentation', '/ruby/instrumentation/index.html'
          %ul
            %li= link_with_active 'Integrating AppSignal', '/ruby/instrumentation/integrating-appsignal.html'
            %li= link_with_active 'Instrumentation', '/ruby/instrumentation/instrumentation.html'
            %li= link_with_active 'Exception handling', '/ruby/instrumentation/exception-handling.html'
            %li= link_with_active 'Tagging', '/ruby/instrumentation/tagging.html'
            %Li= link_with_active 'Ignore instrumentation', '/ruby/instrumentation/ignore-instrumentation.html'
            %li= link_with_active 'Background jobs', '/ruby/instrumentation/background-jobs.html'
            %li= link_with_active 'Method instrumentation', '/ruby/instrumentation/method-instrumentation.html'
            %li= link_with_active 'Link templates', '/ruby/instrumentation/link-templates.html'
        %li
          = link_with_active 'Command line tools', '/ruby/command-line/index.html'
          %ul
            %li= link_with_active 'Diagnose', '/ruby/command-line/diagnose.html'
            %li= link_with_active 'Demo', '/ruby/command-line/demo.html'
            %li= link_with_active 'Notify of Deploy', '/ruby/command-line/notify_of_deploy.html'

    %li.section
      %h2{:data => { :menu => "elixir" } }
        AppSignal for Elixir
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Overview', '/elixir/index.html'
        %li= link_with_active 'Installation', '/elixir/installation.html'
        %li
          = link_with_active 'Configuration', '/elixir/configuration/index.html'
          %ul
            %li= link_with_active 'Options', '/elixir/configuration/options.html'
            %li= link_with_active 'Load order', '/elixir/configuration/load-order.html'
            %li= link_with_active 'Parameter filtering', '/elixir/configuration/parameter-filtering.html'
        %li= link_with_active 'Integrating with Phoenix', '/elixir/integrations/phoenix.html'
        %li
          = link_with_active 'Custom instrumentation', '/elixir/instrumentation/index.html'
          %ul
            %li= link_with_active 'Integrating AppSignal', '/elixir/instrumentation/integrating-appsignal.html'
        %li= link_with_active 'Why a NIF?', '/elixir/why-nif.html'

    %li.section
      %h2{:data => { :menu => "front-end" } }
        AppSignal for Front-end <sup>Beta</sup>
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Front-end error catching', '/front-end/error-handling.html'

    %li.section
      %h2{:data => { :menu => "metrics" } }
        Metrics
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Custom metrics <sup>Beta</sup>', '/metrics/custom.html'
        %li= link_with_active 'Host metrics', '/metrics/host.html'

    %li.section
      %h2{:data => { :menu => "support" } }
        Support
        = image_tag "arrow.svg"
      %ul
        %li= link_to 'Contact us!', 'mailto:support@appsignal.com'
        %li= link_with_active 'Debugging AppSignal', '/support/debugging.html'
        %li= link_with_active 'Supported Operating Systems', '/support/operating-systems.html'

    %li.section
      %h2{:data => { :menu => "api" } }
        AppSignal API <sup>Beta</sup>
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Overview', '/api/index.html'
        %li= link_with_active 'Push API', '/push-api/overview.html'
        %li= link_with_active 'Deploy markers', '/push-api/deploy-marker.html'
        %li= link_with_active 'Graphs', '/api/graphs.html'
        %li= link_with_active 'Markers', '/api/markers.html'
        %li= link_with_active 'Samples', '/api/samples.html'
        %li= link_with_active 'Event names', '/api/event-names.html'

    %li.section
      %h2{:data => { :menu => "appsignal" } }
        AppSignal <sup>Meta</sup>
        = image_tag "arrow.svg"
      %ul
        %li= link_with_active 'Contributing', '/appsignal/contributing.html'
        %li= link_with_active 'Security', '/appsignal/security.html'
        %li= link_with_active 'How AppSignal operates', '/appsignal/how-appsignal-operates.html'
        %li= link_with_active 'Life cycle of an AppSignal request', '/appsignal/request-lifecycle.html'
        %li= link_with_active 'Terminology', '/appsignal/terminology.html'
