%nav.mod-side_nav
  %ul
    %li.section
      %h2= link_with_active "Start", "/"
    %li.section
      %h2= link_with_active "FAQs", "/faq.html"
    %li.section
      %h2{:data => { :menu => "application" } }
        Your applications
      %ul
        %li= link_with_active "Overview", "/application/"
        %li= link_with_active "Add an application", "/application/new-application.html"
        %li= link_with_active "Anomaly detection", "/application/anomaly-detection/"
        %li= link_with_active "Namespaces", "/application/namespaces.html"
        %li= link_with_active "Customizing data collection", "/application/data-collection.html"
        %li
          = link_with_active "Markers", "/application/markers/"
          %ul
            %li= link_with_active "Deploy markers", "/application/markers/deploy-markers.html"
            %li= link_with_active "Custom markers", "/application/markers/custom-markers.html"
        %li
          = link_with_active "Settings", "/application/settings.html"
          %ul
            %li= link_with_active "Notification settings", "/application/notification-settings.html"
            %li= link_with_active "Link templates", "/application/link-templates.html"
            %li= link_with_active "Backtrace links", "/application/backtrace-links.html"

        %li
          = link_with_active "Integrations (full list)", "/application/integrations/"
          %ul
            %li= link_with_active "Asana", "/application/integrations/asana.html"
            %li= link_with_active "Clubhouse", "/application/integrations/clubhouse.html"
            %li= link_with_active "Google Hangouts Chat", "/application/integrations/hangouts.html"
            %li= link_with_active "Intercom", "/application/integrations/intercom.html"
            %li= link_with_active "Jira", "/application/integrations/jira.html"
            %li= link_with_active "PagerDuty", "/application/integrations/pagerduty.html"
            %li= link_with_active "Slack", "/application/integrations/slack.html"
            %li= link_with_active "Webhooks", "/application/integrations/webhooks.html"

    %li.section
      %h2{:data => { :menu => "organization" } }
        Your organizations
      %ul
        %li= link_with_active "Overview", "/organization/"
        %li
          = link_with_active "Team management", "/organization/team/"
          %ul
            %li= link_with_active "Manage members", "/organization/team/members.html"
            %li= link_with_active "Manage owners", "/organization/team/owners.html"
            %li= link_with_active "Manage teams", "/organization/team/teams.html"
        %li= link_with_active "Billing", "/organization/billing.html"

    %li.section
      %h2{:data => { :menu => "account" } }
        Your user account
      %ul
        %li= link_with_active "Overview", "/user-account/index.html"
        %li= link_with_active "Email addresses", "/user-account/email-addresses.html"
        %li= link_with_active "Two-factor authentication", "/user-account/two-factor-authentication.html"
  %ul
    %li.section
      %h2{:data => { :menu => "ruby" } }
        AppSignal for Ruby
      %ul
        %li= link_with_active "Overview", "/ruby/"
        %li= link_with_active "Installation", "/ruby/installation.html"
        %li
          = link_with_active "Configuration", "/ruby/configuration/"
          %ul
            %li= link_with_active "Options", "/ruby/configuration/options.html"
            %li= link_with_active "Load order", "/ruby/configuration/load-order.html"
            %li= link_with_active "Ignore actions", "/ruby/configuration/ignore-actions.html"
            %li= link_with_active "Ignore errors", "/ruby/configuration/ignore-errors.html"
            %li= link_with_active "Parameter filtering", "/ruby/configuration/parameter-filtering.html"
            %li= link_with_active "Session data filtering", "/ruby/configuration/session-data-filtering.html"

        %li
          = link_with_active "Integrations", "/ruby/integrations/"
          %ul
            %li= link_with_active "Capistrano", "/ruby/integrations/capistrano.html"
            %li= link_with_active "DataMapper", "/ruby/integrations/datamapper.html"
            %li= link_with_active "Delayed Job", "/ruby/integrations/delayed-job.html"
            %li= link_with_active "Grape", "/ruby/integrations/grape.html"
            %li= link_with_active "MongoDB", "/ruby/integrations/mongodb.html"
            %li= link_with_active "Padrino", "/ruby/integrations/padrino.html"
            %li= link_with_active "Puma", "/ruby/integrations/puma.html"
            %li= link_with_active "Que", "/ruby/integrations/que.html"
            %li= link_with_active "Rack", "/ruby/integrations/rack.html"
            %li= link_with_active "Rake", "/ruby/integrations/rake.html"
            %li= link_with_active "Resque", "/ruby/integrations/resque.html"
            %li= link_with_active "Ruby on Rails", "/ruby/integrations/rails.html"
            %li= link_with_active "Sequel", "/ruby/integrations/sequel.html"
            %li= link_with_active "Shoryuken", "/ruby/integrations/shoryuken.html"
            %li= link_with_active "Sidekiq", "/ruby/integrations/sidekiq.html"
            %li= link_with_active "Sinatra", "/ruby/integrations/sinatra.html"
            %li= link_with_active "Webmachine", "/ruby/integrations/webmachine.html"
            %li= link_with_active "Integration gems <sup>Deprecated</sup>", "/ruby/integrations/appsignal-gems.html"

        %li
          = link_with_active "Custom instrumentation", "/ruby/instrumentation/"
          %ul
            %li= link_with_active "Integrating AppSignal", "/ruby/instrumentation/integrating-appsignal.html"
            %li= link_with_active "Instrumentation", "/ruby/instrumentation/instrumentation.html"
            %li= link_with_active "Exception handling", "/ruby/instrumentation/exception-handling.html"
            %li= link_with_active "Tagging", "/ruby/instrumentation/tagging.html"
            %Li= link_with_active "Namespaces", "/ruby/instrumentation/namespaces.html"
            %Li= link_with_active "Ignore instrumentation", "/ruby/instrumentation/ignore-instrumentation.html"
            %li= link_with_active "Background jobs", "/ruby/instrumentation/background-jobs.html"
            %li= link_with_active "Method instrumentation", "/ruby/instrumentation/method-instrumentation.html"
            %li= link_with_active "Event formatters", "/ruby/instrumentation/event-formatters.html"
            %li= link_with_active "Minutely probes <sup>New</sup>", "/ruby/instrumentation/minutely-probes.html"
            %li= link_with_active "Request queue time", "/ruby/instrumentation/request-queue-time.html"

        %li
          = link_with_active "Command line tools", "/ruby/command-line/"
          %ul
            %li= link_with_active "Install", "/ruby/command-line/install.html"
            %li= link_with_active "Diagnose", "/ruby/command-line/diagnose.html"
            %li= link_with_active "Demo", "/ruby/command-line/demo.html"
            %li= link_with_active "Notify of deploy", "/ruby/command-line/notify_of_deploy.html"

    %li.section
      %h2{:data => { :menu => "elixir" } }
        AppSignal for Elixir
      %ul
        %li= link_with_active "Overview", "/elixir/"
        %li
          = link_with_active "Installation", "/elixir/installation.html"
          %ul
            %li= link_with_active "Umbrella applications", "/elixir/installation/umbrella.html"
        %li
          = link_with_active "Configuration", "/elixir/configuration/"
          %ul
            %li= link_with_active "Options", "/elixir/configuration/options.html"
            %li= link_with_active "Load order", "/elixir/configuration/load-order.html"
            %li= link_with_active "Ignore actions", "/elixir/configuration/ignore-actions.html"
            %li= link_with_active "Ignore errors", "/elixir/configuration/ignore-errors.html"
            %li= link_with_active "Parameter filtering", "/elixir/configuration/parameter-filtering.html"
            %li= link_with_active "Session data filtering", "/elixir/configuration/session-data-filtering.html"
        %li
          = link_with_active "Integrations", "/elixir/integrations/"
          %ul
            %li= link_with_active "Phoenix", "/elixir/integrations/phoenix.html"
            %li= link_with_active "Plug", "/elixir/integrations/plug.html"
            %li= link_with_active "Ecto", "/elixir/integrations/ecto.html"
            %li= link_with_active "Erlang", "/elixir/integrations/erlang.html"
        %li
          = link_with_active "Custom instrumentation", "/elixir/instrumentation/"
          %ul
            %li= link_with_active "Integrating AppSignal", "/elixir/instrumentation/integrating-appsignal.html"
            %li= link_with_active "Instrumentation", "/elixir/instrumentation/instrumentation.html"
            %li= link_with_active "Exception handling", "/elixir/instrumentation/exception-handling.html"
            %li= link_with_active "Tagging", "/elixir/instrumentation/tagging.html"
            %li= link_with_active "Namespaces", "/elixir/instrumentation/namespaces.html"
            %li= link_with_active "Minutely probes <sup>New</sup>", "/elixir/instrumentation/minutely-probes.html"
            %li= link_with_active "Mix tasks", "/elixir/instrumentation/mix_tasks.html"
        %li
          = link_with_active "Command line tools", "/elixir/command-line/"
          %ul
            %li= link_with_active "Install", "/elixir/command-line/install.html"
            %li= link_with_active "Diagnose", "/elixir/command-line/diagnose.html"
            %li= link_with_active "Demo", "/elixir/command-line/demo.html"
        %li= link_with_active "Releases", "/elixir/releases.html"
        %li= link_with_active "Why a NIF?", "/elixir/why-nif.html"

    %li.section
      %h2{:data => { :menu => "nodejs" } }
        AppSignal for Node.js<sup>Alpha</sup>
      %ul
        %li= link_with_active "Overview", "/nodejs/"

    %li.section
      %h2{:data => { :menu => "front-end" } }
        AppSignal for Front-end
      %ul
        %li= link_with_active "Overview", "/front-end/"
        %li= link_with_active "Installation", "/front-end/installation.html"
        %li= link_with_active "Configuration", "/front-end/configuration/"
        %li= link_with_active "Error handling", "/front-end/error-handling.html"
        %li= link_with_active "Creating and Using a Span", "/front-end/span.html"
        %li= link_with_active "Hooks", "/front-end/hooks.html"
        %li= link_with_active "Breadcrumbs", "/front-end/breadcrumbs.html"
        %li= link_with_active "Sourcemaps", "/front-end/sourcemaps.html"
        %li
          = link_with_active "Integrations", "/front-end/integrations/"
          %ul
            %li= link_with_active "React", "/front-end/integrations/react.html"
            %li= link_with_active "Vue", "/front-end/integrations/vue.html"
            %li= link_with_active "Angular", "/front-end/integrations/angular.html"
            %li= link_with_active "Ember", "/front-end/integrations/ember.html"
            %li= link_with_active "Preact", "/front-end/integrations/preact.html"
            %li= link_with_active "Stimulus", "/front-end/integrations/stimulus.html"
        %li
          = link_with_active "Plugins", "/front-end/plugins/"
          %ul
            %li= link_with_active "plugin-breadcrumbs-console", "/front-end/plugins/plugin-breadcrumbs-console.html"
            %li= link_with_active "plugin-breadcrumbs-network", "/front-end/plugins/plugin-breadcrumbs-network.html"
            %li= link_with_active "plugin-window-events", "/front-end/plugins/plugin-window-events.html"
            %li= link_with_active "plugin-path-decorator", "/front-end/plugins/plugin-path-decorator.html"
        %li= link_with_active "Troubleshooting", "/front-end/troubleshooting.html"

  %ul
    %li.section
      %h2{:data => { :menu => "standalone-agent" } }
        Standalone agent<sup>Beta</sup>
      %ul
        %li= link_with_active "Installation", "/standalone-agent/installation.html"
        %li= link_with_active "StatsD", "/standalone-agent/statsd.html"
    %li.section
      %h2{:data => { :menu => "metrics" } }
        Metrics
      %ul
        %li
          = link_with_active "Custom metrics", "/metrics/custom.html"
          %ul
            %li= link_with_active "Dashboards", "/metrics/custom-metrics/dashboards.html"
        %li
          = link_with_active "Host metrics", "/metrics/host.html"
          %ul
            %li= link_with_active "Heroku host metrics", "/metrics/host-metrics/heroku.html"
            %li= link_with_active "Container host metrics", "/metrics/host-metrics/containers.html"

    %li.section
      %h2{:data => { :menu => "api" } }
        AppSignal API <sup>Beta</sup>
      %ul
        %li= link_with_active "Overview", "/api/"
        %li= link_with_active "Push API <sup>Deprecated</sup>", "/push-api/overview.html"
        %li= link_with_active "Deploy markers", "/push-api/deploy-marker.html"
        %li= link_with_active "Graphs", "/api/graphs.html"
        %li= link_with_active "Markers", "/api/markers.html"
        %li= link_with_active "Samples", "/api/samples.html"
        %li= link_with_active "Event names", "/api/event-names.html"
        %li= link_with_active "Sourcemaps", "/api/sourcemaps.html"

  %ul
    %li.section
      %h2{:data => { :menu => "support" } }
        Support
      %ul
        %li= link_to "Contact us!", "mailto:support@appsignal.com"
        %li= link_with_active "Debugging AppSignal", "/support/debugging.html"
        %li= link_with_active "Supported Operating Systems", "/support/operating-systems.html"
        %li= link_with_active "Known issues", "/support/known-issues.html", :parent_active => true
        %li= link_with_active "About time", "/support/about-time.html", :parent_active => true
        %li= link_to "Service status page", "https://status.appsignal.com"

    %li.section
      %h2{:data => { :menu => "appsignal" } }
        About AppSignal
      %ul
        %li
          = link_with_active "Contributing", "/appsignal/contributing.html"
          %ul
            %li= link_with_active "Code of Conduct", "/appsignal/code-of-conduct.html"
        %li= link_with_active "Security", "/appsignal/security.html"
        %li= link_with_active "GDPR", "/appsignal/gdpr.html"
        %li= link_with_active "How our integrations operate", "/appsignal/how-appsignal-operates.html"
        %li= link_with_active "Life cycle of app data", "/appsignal/data-life-cycle.html"
        %li= link_with_active "Terminology", "/appsignal/terminology.html"
